sudo: required
services:
  - docker

before-install:
  - docker build -t mikeheskett1/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true mikeheskett1/docker-react npm run test

deploy: 
  provider: elasticbeanstalk
  access_key_id: ${AWS_ACCESS_KEY}
  secret_access_key: ${AWS_SECRET_KEY}
  region: "eu-west-2"
  app: "docker"
  env: "Docker-env"
  bucket_name: "elasticbeanstalk-eu-west-2-533267041242"
  bucket_path: "docker"
  on:
    branch: master
  
